<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.UserVMMapper">
	<select id="selectAll" resultMap="UserVMResultMap">
		select * from poll_user
	</select>
	<!-- 结果集开始 -->
	<resultMap type="com.briup.apps.poll.bean.extend.UserVM" id="UserVMResultMap">
		<id column="id" property="id" />
		<result column="birth" property="birth" />
		<result column="hiredate" property="hiredate" />
		<result column="type" property="type" />
		<collection column="id" property="clazz" javaType="ArrayList"
			select="selectClazzByUserId">
		</collection>
	</resultMap>
	<!-- 结果集结束 -->

	<select id="selectClazzByUserId" parameterType="long"
		resultType="com.briup.apps.poll.bean.Clazz">
		select name from poll_clazz where charge_id = #{id}
	</select>

	<!-- <delete id="deleteById" parameterType="long"> delete from poll_course 
		where id = #{id} </delete> -->

    <!--
	<insert id="insert" parameterType="com.briup.apps.poll.bean.extend.UserVm">
		insert into poll_user
		values
		(null,#{gender},#{birth},#{hiredate},#{type},#{clazz})
	</insert>
	-->

	<!-- <update id="updateById"> update poll_course set name = #{name}, description 
		= #{description}, period = #{period}, where id = #{id} </update> -->
</mapper>